<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" class="form-control" id="filterText" placeholder="Samsung GLX">
</div>

<table class="table" *ngIf="dataLoaded==true">
  <thead>
    <tr>
      <th >#</th>
      <th >ProductName</th>
      <th >Description</th>
      <th>DisplayIndex</th>
      <th>Brand ID</th>
      <th>KDVli Fi</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id}}</td>
      <td>{{ product.name | uppercase}}</td> <!--Tüm Harfler Büyük-->
      <td>{{ product.description }}</td>
      <td>{{ product.displayIndex }}</td>
      <td>{{ product.brandId}}</td>
      <td>{{ product.brandId |vatAdded:10 |currency}}</td>
      
    </tr>
  </tbody>
</table>
